@font-face {
  font-family: 'fuwafuwa';
  src: url('fonts/hannotate-sc-regular.otf');
}
body {
  font-family: 'fuwafuwa';
}
#title {
  font-size: 60px;
  color: #007aff;
}
#inputWrapper {
  margin-top: -500px;
}
